<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div *ngFor="let child of family; let i = index">
            <div class="row">
            <h4>Child {{child.relationship}}</h4>
            <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <label>First Name</label>
                    </div>
                    <div class="col-sm-8">
                        {{child.firstname}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Last Name</label>
                    </div>
                    <div class="col-sm-8">
                        {{child.lastname}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Gender</label>
                    </div>
                    <div class="col-sm-8">
                        {{child.gender | gender}}
                    </div>
                </div>
                <div class="row" *ngIf="child.experience">
                    <div class="col-sm-4">
                        <label>Education</label>
                    </div>
                    <div class="col-sm-8">
                        {{child.education | education}}
                    </div>
                </div>
                <div class="row" *ngIf="child.experience">
                    <div class="col-sm-4">
                        <label>Work Experience</label>
                    </div>
                    <div class="col-sm-8">
                        {{child.experience | experience}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Birth Day</label>
                    </div>
                    <div class="col-sm-8">
                        {{child.birthday}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Birth City</label>
                    </div>
                    <div class="col-sm-8">
                        {{child.birth_city}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Birth Country</label>
                    </div>
                    <div class="col-sm-8">
                        {{child.birth_country | idToString: countries: 'country'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>