<div class="placeholder">
	<div class="site-header" [ngClass]="{'fixed':fixed}">
		<div class="container info-container">
			<div class="pull-right"><info></info></div>
			<div id="menu-toggle" class="hamburger" (click)="miniMenu = !miniMenu">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<nav class="main-navigation pull-left" [ngClass]="{'mini-menu': miniMenu}">
				<ul class="dd-menu sf-menu">
					<li><a [routerLink]="['/']">About Green Card Lottery</a></li>
					<li><a [routerLink]="['/apply']">Apply</a></li>
					<li><a [routerLink]="['/pricing']">Pricing</a></li>
					<li><a [routerLink]="['/qna']">Q&A</a></li>
					<li><a [routerLink]="['/news']">News</a></li>
					<li><a [routerLink]="['/blogs']">Blogs</a></li>
					<li><a [routerLink]="['/contact']">Contact Us</a></li>
					<li *ngIf="auth.isAdmin"><a [routerLink]="['/admin']">Admin</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>