<div class="placeholder">
	<div class="site-header" [ngClass]="{'fixed':fixed}">
		<div class="container info-container">
			<div class="site-logo">
				<a href="index.html">
					<img src="images/logo.png" alt="" class="default-logo">
					<img src="images/logo@2x.png" alt="" class="retina-logo" width="186" height="22">
				</a>
			</div>
			<div class="pull-right"><info></info></div>
			<div id="menu-toggle" class="hamburger" (click)="miniMenu = !miniMenu">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<nav class="main-navigation pull-left" [ngClass]="{'mini-menu': miniMenu}">
				<ul class="dd-menu sf-menu">
					<li><a [routerLink]="['/']" (click)="miniMenu = !miniMenu">About Green Card Lottery</a></li>
					<li><a [routerLink]="['/apply']" (click)="miniMenu = !miniMenu">Apply</a></li>
					<li><a [routerLink]="['/pricing']" (click)="miniMenu = !miniMenu">Pricing</a></li>
					<li><a [routerLink]="['/qna']" (click)="miniMenu = !miniMenu">Q&A</a></li>
					<li><a [routerLink]="['/news']" (click)="miniMenu = !miniMenu">News</a></li>
					<li><a [routerLink]="['/blogs']" (click)="miniMenu = !miniMenu">Blogs</a></li>
					<li><a [routerLink]="['/contact']" (click)="miniMenu = !miniMenu">Contact Us</a></li>
					<li *ngIf="auth.isAdmin"><a [routerLink]="['/admin']" (click)="miniMenu = !miniMenu">Admin</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>