<div class="hero-area">
    <div class="page-header text-align-center" style="background-image:url(images/desk-paper.jpg)">
        <div class="container">
            <h1>Apply</h1>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-container" *ngIf="ready">
    <div class="content">
        <div class="container">
            <div class="row" *ngIf="state == 1">
                <div class="col-md-12 eli-b">
                    <h2>Registration Eligibility</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis labore quia error, tempora harum molestiae obcaecati accusantium possimus cupiditate, pariatur. Iure aut numquam labore blanditiis, ratione adipisci!
                        Unde, ad vel.</p>
                    <h2 class="fs-title">Check your eligibility</h2>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-12 shadow-block-nomove">
                    <div class="eligibility-block">
                        <div class="eligibility">
                            <form>
                                <div class="form-group">
                                    <label>EDUCATION</label>
                                    <select class="form-control" [(ngModel)]="application.education" (ngModelChange)="educationChange()" name="application-education">
                                        <option *ngFor="let education of educations" [ngValue]="education">{{education.level}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="!application.education.pass && application.education != educations[0]">
                                    <label>WORK EXPERIENCE</label>
                                    <select class="form-control" [(ngModel)]="application.experience" (ngModelChange)="workChange()" name="application-experience">
                                        <option *ngFor="let experience of workExperiences" [ngValue]="experience">{{experience.level}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="application.education.pass || application.experience.pass">
                                    <label>YOUR COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="application.country" (ngModelChange)="appCountryChange()" name="application-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="!application.country.pass && application.country != countries[0]">
                                    <label>ARE YOU MARRIED</label>
                                    <select class="form-control" [(ngModel)]="application.marital" (ngModelChange)="maritalChange()" name="application-marital">
                                        <option *ngFor="let marital of maritals" [ngValue]="marital">{{marital.response}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="application.marital.status">
                                    <label>YOUR SPOUSE COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="application.spouse.country" (ngModelChange)="spouseChange()" name="spouse-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div class="form-group" 
                                    *ngIf="
                                        (!application.marital.status && application.marital != maritals[0]) ||
                                        (application.marital.status && !application.spouse.country.pass && application.spouse.country != countries[0])                                         
                                    ">
                                    <label>YOUR MOTHER COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="application.mother.country" (ngModelChange)="motherChange()" name="mother-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="!application.mother.country.pass && application.mother.country != countries[0]">
                                    <label>YOUR FATHER COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="application.father.country" name="father-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div *ngIf="finished()">
                                    <div *ngIf="eligible()" class="text-success">You are Eligible</div>
                                    <div *ngIf="!eligible()" class="text-danger">You are NOT Eligible</div>
                                    <div class="btn btn-success btn-lg btn-block" *ngIf="eligible()" (click)="goto(2)">Register</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="state == 2">
                <div class="col-lg-10 col-lg-offset-1 col-md-12 shadow-block-nomove">
                    <navigation [step]="step" (stepChange)="stepChange($event)"></navigation>
                    <div class="eligibility-block">
                        <div class="registration">
                            <form>
                                <!-- MAIN -->
                                <main *ngIf="step == 1"
                                    [application]="application"
                                    [educations]="educations"
                                    [countries]="countries"
                                    [workExperiences]="workExperiences"
                                    [maritals]="maritals"
                                    [titles]="titles"
                                    [genders]="genders"
                                    [days]="days"
                                    [months]="months"
                                    [years]="years"
                                    (onMainComplete)="onMainComplete($event)"
                                >
                                </main>

                                <!-- Family -->
                                <family *ngIf="step == 2"
                                    [application]="application"
                                    [educations]="educations"
                                    [countries]="countries"
                                    [workExperiences]="workExperiences"
                                    [genders]="genders"
                                    [days]="days"
                                    [months]="months"
                                    [years]="years"
                                    (onFamilyComplete)="onFamilyComplete($event)"
                                    (onFamilyBack)="onFamilyBack($event)"
                                >
                                </family>

                                <!-- ADDRESS -->
                                <address *ngIf="step == 3"
                                    [application]="application"
                                    [countries]="countries"
                                    (onAddressComplete)="onAddressComplete($event)"
                                    (onAddressBack)="onAddressBack($event)"
                                >
                                </address>

                                <div *ngIf="step == 4">
                                    <confirmation [application]="application"></confirmation>
                                    <div class="row">
                                        <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                            <div class="row">
                                                <button class="btn btn-info" (click)="step = 3">Back</button>
                                                <button class="btn btn-success pull-right" (click)="send(application)">Confirm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="step == 5">
                                    <affirmation></affirmation>
                                    <button class="btn btn-warning" (click)="step = 9">Upload Photos</button>
                                </div>
                                
                                <div *ngIf="step == 9">
                                    <photo></photo>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>