<div class="container">
    <div class="container-card">

        <div class="card">
            <h1 class="card-head-bg">Small Business</h1>
            <h2 class="card-head-sm">Just need initial support</h2>
            <div class="price"><h3 class="price-number">$ 99 / <span>year</span></h3></div>
            <ul class="price-des">
                <li>up to 5 users</li>
                <li>max 100 items/month</li>
                <li>500 queries</li>
                <li>basic statistic</li>
                <li>email support</li>
            </ul>
            <a class="price-btn" href="#">Get this plan</a>
        </div>

        <div class="card">
            <h1 class="card-head-bg">Professional</h1>
            <h2 class="card-head-sm">Fully dedicated to the large scale projects</h2>
            <div class="price"><h3 class="price-number">$ 199 / <span>year</span></h3></div>
            <ul class="price-des">
                <li>up to 50 users</li>
                <li>max 500 items/month</li>
                <li>1000 queries</li>
                <li>full statistic</li>
                <li>email support</li>
            </ul>
            <a class="price-btn" href="#">Get this plan</a>
        </div>

        <div class="card">
            <h1 class="card-head-bg">Power User</h1>
            <h2 class="card-head-sm">Corporation handling hundreds of projects</h2>
            <div class="price"><h3 class="price-number">$ 399 / <span>year</span></h3></div>
            <ul class="price-des">
                <li>unlimited users</li>
                <li>unlimited items/month</li>
                <li>unlimited queries</li>
                <li>full statistic</li>
                <li>email & phone support</li>
            </ul>
            <a class="price-btn" href="#">Get this plan</a>
        </div>

        <div class="card">
            <h1 class="card-head-bg">Power User</h1>
            <h2 class="card-head-sm">Corporation handling hundreds of projects</h2>
            <div class="price"><h3 class="price-number">$ 399 / <span>year</span></h3></div>
            <ul class="price-des">
                <li>unlimited users</li>
                <li>unlimited items/month</li>
                <li>unlimited queries</li>
                <li>full statistic</li>
                <li>email & phone support</li>
            </ul>
            <a class="price-btn" href="#">Get this plan</a>
        </div>
    </div>
</div>