<!-- Start Hero Area -->
<div class="hero-area">
    <div class="page-header text-align-center" style="background-image:url(images/blogging.jpg);">
        <div class="container">
            <h1>Blog</h1>
        </div>
    </div>
</div>
<!-- Main Content -->
<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="blog-list-item blog-item format-standard">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <a href="single-post.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                <div class="post-item-meta">
                                    <i class="fa fa-clock-o"></i> 05 May, 2016
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="meta-data"><a href="#">Announcements</a></div>
                                <h4><a href="single-post.html">Green Card Lottery voted 15th best company to work for in the US</a></h4>
                                <p>Vestibulum quam nisi, pretium a nibh sit amet, consectetur hendrerit mi. Aenean imperdiet lacus sit amet elit porta, et malesuada erat bibendum. Cras sed nunc massa. Quisque tempor dolor sit amet tellus malesuada, malesuada iaculis eros dignissim imperdiet lacus sit amet elit porta..</p>
                                <a href="single-post.html" class="btn btn-default btn-ghost btn-dark btn-sm">Continue reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-list-item blog-item format-standard">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <a href="single-post.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                <div class="post-item-meta">
                                    <i class="fa fa-clock-o"></i> 04 May, 2016
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="meta-data"><a href="#">Updates</a></div>
                                <h4><a href="single-post.html">Government softens plan to criminalise unwitting offshore tax evasion</a></h4>
                                <p>Vestibulum quam nisi, pretium a nibh sit amet, consectetur hendrerit mi. Aenean imperdiet lacus sit amet elit porta, et malesuada erat bibendum. Cras sed nunc massa. Quisque tempor dolor sit amet tellus malesuada, malesuada iaculis eros dignissim imperdiet lacus sit amet elit porta..</p>
                                <a href="single-post.html" class="btn btn-default btn-ghost btn-dark btn-sm">Continue reading</a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-list-item blog-item format-standard">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <a href="single-post.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                <div class="post-item-meta">
                                    <i class="fa fa-clock-o"></i> 28 April, 2016
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="meta-data"><a href="#">Announcements</a></div>
                                <h4><a href="single-post.html">Green Card Lottery announces 6 new partners</a></h4>
                                <p>Vestibulum quam nisi, pretium a nibh sit amet, consectetur hendrerit mi. Aenean imperdiet lacus sit amet elit porta, et malesuada erat bibendum. Cras sed nunc massa. Quisque tempor dolor sit amet tellus malesuada, malesuada iaculis eros dignissim imperdiet lacus sit amet elit porta..</p>
                                <a href="single-post.html" class="btn btn-default btn-ghost btn-dark btn-sm">Continue reading</a>
                            </div>
                        </div>
                    </div>
                    
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
                
                <div class="col-lg-3 col-md-4 sidebar right-sidebar">
                    <div class="widget sidebar-widget widget_categories">
                        <h3 class="widgettitle">Post Categories</h3>
                        <ul>
                            <li><a href="#">Updates</a> (10)</li>
                            <li><a href="#">Announcements</a> (12)</li>
                            <li><a href="#">Finance</a> (34)</li>
                            <li><a href="#">Legal</a> (14)</li>
                        </ul>
                    </div>
                    <div class="widget sidebar-widget">
                        <h3 class="widgettitle">Post Tags</h3>
                        <div class="tagcloud">
                            <a href="#">Civil</a>
                            <a href="#">Tech</a>
                            <a href="#">Finance</a>
                            <a href="#">Business</a>
                            <a href="#">News</a>
                            <a href="#">Announcements</a>
                            <a href="#">Updates</a>
                            <a href="#">Events</a>
                            <a href="#">Story</a>
                            <a href="#">Testimonial</a>
                            <a href="#">Urban</a>
                            <a href="#">Funds</a>
                            <a href="#">Partners</a>
                            <a href="#">Services</a>
                            <a href="#">Clients</a>
                            <a href="#">Social</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>