<div class="hero-area">
    <div class="page-header text-align-center" style="background-image:url(images/desk-paper.jpg)">
        <div class="container">
            <h1>Apply</h1>
        </div>
    </div>
    <navigation *ngIf="state == 2"></navigation>
</div>

<!-- Main Content -->
<div id="main-container" *ngIf="ready">
    <div class="content">
        <div class="container">
            <div class="row" *ngIf="state == 1">
                <div class="col-md-12 eli-b">
                    <h2>Registration Eligibility</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis labore quia error, tempora harum molestiae obcaecati accusantium possimus cupiditate, pariatur. Iure aut numquam labore blanditiis, ratione adipisci!
                        Unde, ad vel.</p>
                    <h2 class="fs-title">Check your eligibility</h2>
                </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-12 shadow-block-nomove">
                    <div class="eligibility-block">
                        <div class="eligibility">
                            <form>
                                <div class="form-group">
                                    <label>EDUCATION</label>
                                    <select class="form-control" [(ngModel)]="applicant.education" (ngModelChange)="educationChange()" name="applicant-education">
                                        <option *ngFor="let education of educations" [ngValue]="education">{{education.level}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="!applicant.education.pass && applicant.education != educations[0]">
                                    <label>WORK EXPERIENCE</label>
                                    <select class="form-control" [(ngModel)]="applicant.experience" (ngModelChange)="workChange()" name="applicant-experience">
                                        <option *ngFor="let experience of workExperiences" [ngValue]="experience">{{experience.level}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="applicant.education.pass || applicant.experience.pass">
                                    <label>YOUR COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="applicant.country" (ngModelChange)="appCountryChange()" name="applicant-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="!applicant.country.pass && applicant.country != countries[0]">
                                    <label>ARE YOU MARRIED</label>
                                    <select class="form-control" [(ngModel)]="applicant.marital" (ngModelChange)="maritalChange()" name="applicant-marital">
                                        <option *ngFor="let marital of maritals" [ngValue]="marital">{{marital.response}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="applicant.marital.status">
                                    <label>YOUR SPOUSE COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="applicant.spouse.country" (ngModelChange)="spouseChange()" name="spouse-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div class="form-group" 
                                    *ngIf="
                                        (!applicant.marital.status && applicant.marital != maritals[0]) ||
                                        (applicant.marital.status && !applicant.spouse.country.pass && applicant.spouse.country != countries[0])                                         
                                    ">
                                    <label>YOUR MOTHER COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="applicant.mother.country" (ngModelChange)="motherChange()" name="mother-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div class="form-group" *ngIf="!applicant.mother.country.pass && applicant.mother.country != countries[0]">
                                    <label>YOUR FATHER COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="applicant.father.country" name="father-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div *ngIf="finished()">
                                    <div *ngIf="eligible()" class="text-success">You are Eligible</div>
                                    <div *ngIf="!eligible()" class="text-danger">You are NOT Eligible</div>
                                    <div class="btn btn-success btn-lg btn-block" *ngIf="eligible()" (click)="goto(2)">Register</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="state == 2">
                <div class="col-lg-10 col-lg-offset-1 col-md-12 shadow-block-nomove">
                    <div class="eligibility-block">
                        <div class="registration">
                            <form>
                                <div class="form-group">
                                    <label>TITLE</label>
                                    <select class="form-control" [(ngModel)]="applicant.title" name="applicant-title">
                                        <option *ngFor="let title of titles" [ngValue]="title">{{title.title}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>FIRST NAME</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.firstname" name="applicant-fisrtname" required>
                                </div>

                                <div class="form-group">
                                    <label>LAST NAME</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.lastname" name="applicant-lastname" required>
                                </div>

                                <div class="form-group">
                                    <label>GENDER</label>
                                    <select class="form-control" [(ngModel)]="applicant.gender" name="applicant-gender">
                                        <option *ngFor="let gender of genders" [ngValue]="gender">{{gender.gender}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>EDUCATION</label>
                                    <select class="form-control" [(ngModel)]="applicant.education" name="applicant-education2">
                                        <option *ngFor="let education of educations" [ngValue]="education">{{education.level}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>WORK EXPERIENCE</label>
                                    <select class="form-control" [(ngModel)]="applicant.experience" name="applicant-experience2">
                                        <option *ngFor="let experience of workExperiences" [ngValue]="experience">{{experience.level}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>YOUR COUNTRY OF BIRTH</label>
                                    <select class="form-control" [(ngModel)]="applicant.country" name="applicant-country2">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>MARITAL STATUS</label>
                                    <select class="form-control" [(ngModel)]="applicant.marital" name="applicant-marital2">
                                        <option *ngFor="let marital of maritals" [ngValue]="marital">{{marital.answer}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>EMAIL</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.email" name="applicant-email" required>
                                </div>

                                <div class="form-group">
                                    <label>CONFIRM EMAIL</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.confirmEmail" name="applicant-confirmEmail" required>
                                </div>

                                <div class="form-group">
                                    <label>PHONE</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.phone" name="applicant-phone" required>
                                </div>


                                <!-- ADDRESS -->
                                <div class="form-group">
                                    <label>ADDRESS</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.address.line1" name="applicant-addressLine1" required>
                                </div>

                                <div class="form-group">
                                    <label>ADDRESS 2</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.address.line2" name="applicant-addressLine2">
                                </div>

                                <div class="form-group">
                                    <label>POSTAL CODE</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.address.postal" name="applicant-addressPostal">
                                </div>

                                <div class="form-group">
                                    <label>CITY</label>
                                    <input type="text" class="form-control" [(ngModel)]="applicant.address.city" name="applicant-addressCity">
                                </div>

                                <div class="form-group">
                                    <label>COUNTRY</label>
                                    <select class="form-control" [(ngModel)]="applicant.address.country" name="father-country">
                                        <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                                    </select>
                                </div>


                                <!-- BIOGRAPHIC DATA -->

                                <div class="form-group">
                                    <label>BIRTHDATE</label>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <select class="form-control" [(ngModel)]="applicant.birth.day" name="applicant-birthday">
                                                <option *ngFor="let day of days" [ngValue]="day">{{day.day}}</option>
                                            </select></div>
                                        <div class="col-xs-6">
                                            <select class="form-control" [(ngModel)]="applicant.birth.month" name="applicant-birthmonth">
                                                <option *ngFor="let month of months" [ngValue]="month">{{month.month}}</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-4">
                                            <select class="form-control" [(ngModel)]="applicant.birth.year" name="applicant-birthyear">
                                                <option *ngFor="let year of years" [ngValue]="year">{{year.year}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>CHILDREN</label>
                                    <select class="form-control" [(ngModel)]="applicant.children" name="applicant-children">
                                        <option *ngFor="let child of children" [ngValue]="child">{{child}}</option>
                                    </select>
                                </div>

                                <button class="btn btn-success" (click)="send(applicant)" [disabled]="!registrationCheck()">FINISH</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>