<!-- Start Hero Area -->
<div class="hero-area">
    <div class="page-header text-align-center" style="background-image:url(images/newspaper.jpg);">
        <div class="container">
            <h1>News</h1>
        </div>
    </div>
</div>
<!-- Main Content -->
<div id="main-container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <latest-news></latest-news>
                </div>
                
                <div class="col-md-3 sidebar right-sidebar">
                    <div class="widget sidebar-widget widget_recent_posts">
                        <h3 class="widgettitle">Recent News</h3>
                        <ul>
                            <li>
                                <a href="single-news.html">Green Card Lottery voted 15th best company to work for in the US</a>
                                <span class="meta-data grid-item-meta">Posted on 05 May, 2016</span>
                            </li>
                            <li>
                                <a href="single-news.html">Government softens plan to criminalise unwitting offshore tax evasion</a>
                                <span class="meta-data grid-item-meta">Posted on 04 May, 2016</span>
                            </li>
                            <li>
                                <a href="single-news.html">Green Card Lottery announces 6 new partners</a>
                                <span class="meta-data grid-item-meta">Posted on 28 April, 2016</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>