.eligibility-block{
	border:none;
	padding:0;
}
.eligibility-block .meta-data{
	display:inline-block;
}
.eligibility-block label{
	margin-bottom:10px;
}
.feat-image img {
	display:block;
	margin: 0 auto;
	width: 100%;
}
.qna {padding:20px 0 40px ;}
.qna:nth-child(1) {padding:0 0 40px; margin-top:-20px;}
.qna:nth-child(even) {background: #fafafa;}
.qna h1 {color:#8d1812;}

.one_half {width:48%;}

#msform .selectpicker.btn-default {
	height:42px;
	font-size:15px;
	padding:12px;
}
.caret {
	border-top:7px dashed;
	border-right:6px solid transparent;
	border-left:6px solid transparent;
	top:42% !important;
}
.label-info {
	background-color:#003366;
}