<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
        <h4>Personal Information</h4>
        <hr>
            <div class="col-sm-4">
                <label>Title</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="application.title" name="title">
                    <option *ngFor="let title of titles" [ngValue]="title">{{title.title}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>First Name</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="application.firstname" name="fisrtname" required>
            </div>
            <div class="col-sm-4">
                <label>Last Name</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="application.lastname" name="lastname" required>
            </div>
            <div class="col-sm-4">
                <label>Email</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="application.email" name="email" required>
            </div>
            <div class="col-sm-4">
                <label>Confirm Email</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="application.confirmEmail" name="confirmEmail" required>
            </div>
            <div class="col-sm-4">
                <label>Gender</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="application.gender" name="gender">
                    <option *ngFor="let gender of genders" [ngValue]="gender">{{gender.gender}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Education</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="application.education" name="education2">
                    <option *ngFor="let education of educations" [ngValue]="education">{{education.level}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Work Experience</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="application.experience" name="experience2">
                    <option *ngFor="let experience of workExperiences" [ngValue]="experience">{{experience.level}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Phone</label>
            </div>
            <div class="col-sm-2">
                <!--
                <select class="form-control" [(ngModel)]="application.phone.country" name="phone_country">
                    <option *ngFor="let country of countryNumbers" [ngValue]="country">{{number.number}}</option>
                </select>
                -->
                <input type="text" class="form-control" [(ngModel)]="application.phone.country" name="phone-country" required>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="application.phone.number" name="phone-number" required>
            </div>
        </div>
        <div class="spacer-30"></div>
        <div class="row">
        <h4>Birth Information</h4>
        <hr>
            <div class="col-sm-4">
                <label>Birth Day</label>
            </div>
            <div class="col-sm-2">
            <select class="form-control" [(ngModel)]="application.birth.day" name="birthday">
                <option *ngFor="let day of days" [ngValue]="day">{{day.day}}</option>
            </select></div>
            <div class="col-sm-3">
                <select class="form-control" [(ngModel)]="application.birth.month" name="birthmonth">
                    <option *ngFor="let month of months" [ngValue]="month">{{month.month}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" [(ngModel)]="application.birth.year" name="birthyear">
                    <option *ngFor="let year of years" [ngValue]="year">{{year.year}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Birth City</label>
            </div>
            <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="application.city" name="city">
            </div>
            <div class="col-sm-4">
                <label>Birth Country</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="application.country" name="country">
                    <option *ngFor="let country of countries" [ngValue]="country">{{country.country}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Marital Status</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="application.marital" name="application-marital2">
                    <option *ngFor="let marital of maritals" [ngValue]="marital">{{marital.answer}}</option>
                </select>
            </div>
            <div class="col-sm-4">
                <label>Children</label>
            </div>
            <div class="col-sm-8">
                <select class="form-control" [(ngModel)]="application.children" name="application-children">
                    <option *ngFor="let child of children" [ngValue]="child">{{child}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <button class="btn btn-success pull-right" [disabled]="!check()" (click)="next()">Next</button>
    </div>
</div>